<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>tu pus ?</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <header class="bg-orange-500">
    <h1 class="text-center py-6 text-5xl text-white">bienvenue</h1>
  </header>

  <main class="my-24">

    <p class="text-center text-2xl mb-8">réponds au question pour savoir si tes un véritable puant sur valorant !</p>

    <div class="flex justify-center mb-8">
      <img class="max-w-4xl " src="https://i.ytimg.com/vi/Ys-RYknyG0s/maxresdefault.jpg" />
    </div>
    
    <div class="flex justify-center text-white ">
      <a class="bg-orange-500  rounded-md" href="/question">Cliquez ici</a>
    </div>
  </main>

  <footer class="fixed bottom-0 w-full bg-orange-500">
    <p class="text-center py-2 text-white">créer par joscrap</p>

  </footer>
</body>

</html>
