<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>tu pus ?</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <header class="bg-orange-500 py-6">
    <h1 class="text-center text-2xl text-white text-5xl">Tu est donc {{vainqueur}} !</h1>
  </header>

  <main class="mt-24">

    <h1 class="text-2xl text-center">{{description}}</h1>

    <div class="flex justify-center mt-6">
      <img class="max-h-96" src="/static/{{vainqueur}}.jpg">
    </div>

    <h1 class="text-xl mt-16 text-center">Alors, quel type de joueur es-tu ? 😏 Partage tes résultats et dis-moi si ça te correspond ! 🔥</h1>

    <div class="flex justify-center text-white mt-24">
      <a class="bg-orange-500  rounded-md" href="/">Cliquez ici pour recommencer</a>
    </div>

  </main>

  <footer class="fixed bottom-0 w-full bg-orange-500">
    <p class="text-center py-2 text-white">créer par joscrap</p>
  </footer>
  
</body>

</html>